################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/all_rows.csv
/5000.csv
